footer p a img {
    width: 80px;
}

ul.social a.sc-weibo {
    background-color: #DC0023;
}

li.tag-1 {
    font-size: 150%;
}

li.tag-2 {
    font-size: 120%;
}

li.tag-3 {
    font-size: 100%;
}

li.tag-4 {
    font-size: 80%;
}

a, a:visited {
    color: #d9411e;
}

aside a,
aside a:visited {
    color: #9B59B6;
}

aside .social a,
aside .social a:visited {
    color: #fff;
}
